

chromedriver-binary 





entrypoints==0.3
et-xmlfile==1.1.0





json5 
jsonschema 



lxml 
MarkupSafe 





numpy 
numpydoc 

packaging 
pandas==1.3.3
pandocfilters 
parso==0.7.0
pathlib2 


prometheus-client 


python-dateutil 
python-jsonrpc-server 
python-language-server 
requests 

selenium==4.0.0



SQLAlchemy 


unicodecsv==0.14.1
urllib3==1.26.7
